html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.frame {
    background-color: antiquewhite;
    width: 150px;
    height: 60px;
    font-size: 24px;
    margin: 10px;

    display: none;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.button {
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
    padding : 0 10px;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

}

.startBtn {
  height : 100px;
  position: absolute;
  top : 50%;
  margin-top : -50px;
  width : 100%;
  margin-left : -100%;
}



.stop {
    display : none;
    background-color: yellow;
    color : red;
    width: 60px;
}


.gameZone {
    cursor: pointer;
    height : 600px;
    width: 500px;
    background-color: lightgreen;
    overflow: hidden;
    position: relative;
    margin : 0 auto;
    top : 20px;
    //margin-top : -50px;
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.start {
    background-color: red;
    color : yellow;
    width: 100px;
    margin : 0 auto;
}

.pipes {
    height: 600px;
    width: 2400px;
    /*background-color: blue;*/
    transform: translateX(300px);
    display: flex;

    will-change: transform;
}

.pipe {
    /*background-color: white;*/
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*.pipe:nth-child(2n) {*/
/*    background-color: pink;*/
/*}*/

/*.pipe:nth-child(2n+1) {*/
/*    background-color: hotpink;*/
/*}*/


.pipe > div {
    background-color: #00BB27;
}

.score-box  {
  position: absolute;
  top: 0;
  left: 250px;
  height : 600px;
  width : 100px;
  /*background-color: gold;*/
  z-index: 1;
}

.score {
    text-align: center;
    color : #11772D;
    font-size : 3em;
    //margin : 0 auto;
    //display : flex;
    transform: translate(250px, 0);
}

.bird-box {
    position: absolute;
    top: 0;
    left: 100px;
    height : 600px;
    width : 100px;
    /*background-color: gold;*/
    z-index: 1;

}

.bird {
    width: 30px;
    height: 30px;
    background : red;

    transform: translate(35px, 0);
}
